.navbar_logo {
    font-size: 24px;
    color: white;
    padding-left: 15px;
    padding-top: 15px;
    display: block;
    justify-content: center;
    align-items: center;
}
.logo_image{
    max-width: 100%;
    width: 130px;
    padding: 5px 10px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#file-upload {
    margin-bottom:20px; margin-right: 10px

}
#file-upload:hover + .notice-message{
    display: block;
}

.notice-message {
    padding: 15px 20px;
    background-color: #444444;
    border-radius: 5px;
    color: #ffffff;
    position: absolute;
    display: none;
  }







.insert {
    padding: 20px 30px;
    display: block;
    width: 600px;
    margin: 5vh auto;
    height: 60vh;
    border: 1px solid #dbdbdb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
}
.insert .file-list {
    height: 200px;
    overflow: auto;
    border: 1px solid #989898;
    padding: 10px;
    border-radius: 8px;
}
.insert .file-list .filebox p {
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}
.insert .file-list .filebox .delete i{
    color: #ff5353;
    margin-left: 5px;
    
}
.progress-top {
    display: none;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

*{margin:0;padding:0}
	.progressContainer{display: flex; position:absolute; width: 450px;padding:20px 10px;border: 1px solid #eee; margin-top: 15px;background:#000;height:20px; align-items: center; justify-content: center;}
	.progress{position:absolute;width: calc(100% - 20px);height: 20px;}
	.progressTotal{background: #5D5D5D;border-radius: 10px;}
	.progressNow{width: calc(0% - 20px);background: #FFF;border-radius: 10px;}
	.progressPer{background: transparent; text-align:center;color:#A6A6A6;}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}