.navbar_logo {
    font-size: 24px;
    color: white;
    padding-left: 15px;
    padding-top: 15px;
    display: block;
    justify-content: center;
    align-items: center;
}
.logo_image{
    max-width: 100%;
    width: 130px;
    padding: 5px 10px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.servTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}


.test {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.progress-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

*{margin:0;padding:0}
	.progressContainer{display: flex; position:absolute; width: 450px;padding:20px 10px;border: 1px solid #eee; margin-top: 15px;background:#000;height:20px; align-items: center; justify-content: center;}
	.progress{position:absolute;width: calc(100% - 20px);height: 20px;}
	.progressTotal{background: #5D5D5D;border-radius: 10px;}
	.progressNow{width: calc(0% - 20px);background: #FFF;border-radius: 10px;}
	.progressPer{background: transparent; text-align:center;color:#A6A6A6;}

